
@media screen and (-ms-view-state: snapped)
{
    .rulesPage #rules {
        margin-left: 30px;
        overflow-style: auto;
        overflow-y: auto;
    }
    
    button.backButton {
        visibility : hidden;
    }

    h1.pageTitle {
        visibility: hidden;
    }
}